.nav {
  background: rebeccapurple;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.nav-enlace {
  background: salmon;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
}

.nav-enlace:hover {
  background: rosybrown;
}

@media (max-width: 600px) {
  .nav {
    background: black;
    flex-direction: column;
  }

  .nav-enlace {
    margin: 10px 0;
  }

  .nav-boton {
    display: block;
    margin: 10px auto;
  }
}
